%h2 自己紹介
%div.content
  %p.text
    %strong るーく(@RooandQoo) / Keisuke SASAKI
    %br
    %strong ラクエスク / AtomicAge.net / 瓶底眼鏡女子同盟
  %div
    北海道は釧路出身、基本的に音ゲーマー
    高専カンファレンスなどに顔出しつつ、たまにAndroidアプリをつくったりTranceのDJして遊んだりしています
    %br
    ぱぷさんによるオリジナルキャラクター「るー子」と「くー子」によるユニット(?)ルーアンドクーと一緒に生活していて、
    ナツメサクさんと一緒にルーアンドクーの本やグッズを展開する同人サークル「ラクエスク」を主宰しています
    %br
    また、音楽ゲームの情報やイベント告知をやっております
    %a(href="http://www.atomic--age.net")AtomicAge.net
    と
    %a(href="http://www.cosmicraise.net")CosmicRaise.net
    を運営しております
    %br
    2014年より、トランスのクラブイベント「Stratosphere」を立ち上げました
    %a(href="http://strtsphr.net")Stratosphere
  %div#social
    %ul
      %li
        %a(href="http://twitter.com/RooandQoo")
          %img(src="#{asset_path 'twitter.png'}")
      %li
        %a(href="http://rooandqoo.tumblr.com/")
          %img(src="#{asset_path 'tumblr.png'}")
      %li
        %a(href="http://www.facebook.com/rooandqoo")
          %img(src="#{asset_path 'facebook.png'}")
      %li
        %a(href="http://github.com/rooandqoo/")
          %img(src="#{asset_path 'github.png'}")
      %li
        %a(href="http://www.youtube.com/user/rooandqoo/")
          %img(src="#{asset_path 'youtube.png'}")
      %li
        %a(href="http://www.flickr.com/photos/rooandqoo/")
          %img(src="#{asset_path 'flickr.png'}")
      %li
        %a(href="http://pixiv.me/rooandqoo/") pixiv
      %li
        %a(href="http://www.mixcloud.com/rooandqoo/")mixcloud

